*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  transition: all 0.5s ease;
}
.container{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.container2{
  width: fit-content;
  box-shadow: 0 0 30px #000000;
  background-color: #0a1e23;
  position: relative;
  margin-top: 100px;
  display: grid;
} 
body{
  background: linear-gradient(to bottom right, rgba(79,51,176,1), rgba(210,53,165));
  background-repeat: no-repeat;
  height: 100vh;
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: contain;
}
.display{
  width: 290px;
  height: 50px;
}
.simp{
  color: white;
  font-family:cursive ;
}
.number{
  height: 70px;
  width: 70px;
  border-radius: 50%;
  font-size: 30px;
  background-color: #333333;
  color: white;
  box-shadow: none;
}
.number0{
  height: 65px;
  border-radius: 30px;
  width: 140px;
  font-size: 30px;
  background-color: #333333;
  color: white;
}
.operator{
  height: 70px;
  width: 70px;
  border-radius: 50%;
  font-size: 30px;
  color: white;
  background-color: #fe9505;
}
.operator:hover{
  background-color: white;
  color: #fe9505;
}
.reset, .module{
  background-color: #a5a5a5;
  color: #000000;
}
.reset:hover , .module:hover, .number0:hover{
  background-color: white;
  color: black;
} 
.number:hover{
  background-color: white;
  color: black;
}
#equalsTo{
  height: 70px;
  width: 70px;
  border-radius: 50%;
  font-size: 30px;
  color: white;
  background-color: #fe9505;
}
#equalsTo:active{
  background-color: white;
  color: #fe9505;
}